<%- include("partials/header.ejs") %>


<main>
    <section class="call-to-action">
        <div>
            <h1>Lorem Ipsum</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Obcaecati eos ipsam, tenetur quaerat sapiente repellendus dolore perferendis nulla cum porro
                molestiae natus cupiditate numquam soluta laboriosam! Pariatur, voluptatem saepe! Minus.
            </p>
            <button type="button">
                Shop Now
            </button>
        </div>
        <img src="" alt="">
    </section>
    <section class="products">
        <div class="product">
            <img src="" alt="">
            <div>
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Reprehenderit iste error a animi perspiciatis, esse consequuntur corporis autem quisquam
                    repellendus inventore et voluptas, adipisci laborum atque asperiores culpa quaerat ipsam?
                </p>
            </div>
        </div>
        <div class="product">
            <img src="" alt="">
            <div>
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Reprehenderit iste error a animi perspiciatis, esse consequuntur corporis autem quisquam
                    repellendus inventore et voluptas, adipisci laborum atque asperiores culpa quaerat ipsam?
                </p>
            </div>
        </div>
    </section>
    <section class="values">
        <div class="value">
            <h2>Lorem Ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi soluta at nesciunt odit recusandae,
                ut rerum natus illum fugiat tempora dolorem, tenetur ducimus pariatur dolores deleniti, adipisci
                fuga magnam. Similique.
            </p>
        </div>
        <div class="value">
            <h2>Lorem Ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi soluta at nesciunt odit recusandae,
                ut rerum natus illum fugiat tempora dolorem, tenetur ducimus pariatur dolores deleniti, adipisci
                fuga magnam. Similique.
            </p>
        </div>
        <div class="value">
            <h2>Lorem Ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi soluta at nesciunt odit recusandae,
                ut rerum natus illum fugiat tempora dolorem, tenetur ducimus pariatur dolores deleniti, adipisci
                fuga magnam. Similique.
            </p>
        </div>
    </section>
</main>



<%- include("partials/footer.ejs") %>