<%- include("partials/header.ejs") %>


<main>
    <section class="header">
        <div class="banner">
            <h1><a href="/">Home</a> / Shop</h1>
        </div>
        <div class="values">
            <div class="value">
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi soluta at nesciunt odit recusandae,
                    ut rerum natus illum fugiat tempora dolorem, tenetur ducimus pariatur dolores deleniti, adipisci
                    fuga magnam. Similique.
                </p>
            </div> 
            <div class="value">
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi soluta at nesciunt odit recusandae,
                    ut rerum natus illum fugiat tempora dolorem, tenetur ducimus pariatur dolores deleniti, adipisci
                    fuga magnam. Similique.
                </p>
            </div>   
            <div class="value">
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi soluta at nesciunt odit recusandae,
                    ut rerum natus illum fugiat tempora dolorem, tenetur ducimus pariatur dolores deleniti, adipisci
                    fuga magnam. Similique.
                </p>
            </div>
        </div>
    </section>
    <section class="products">
        <div class="product-catalogue">
            <h2>
                Categories
            </h2>
            <ul class="categories">
                <li><a href="">Bread</a></li>
                <li><a href="">Cake</a></li>
                <li><a href="">Breakfast</a></li>
                <li><a href="">Meal</a></li>
            </ul>
        </div>
        <div class="product-items">
            <div class="product-item">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, praesentium accusamus accusantium velit omnis ad asperiores, voluptates consectetur itaque doloribus voluptatibus facere fugiat. Facere quasi repellat, facilis molestias sequi unde?</p>
            </div>
            <div class="product-item">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur deserunt commodi dolorum consequatur corrupti eum explicabo dignissimos quae, soluta sunt illum blanditiis quas alias fugiat cupiditate quis, quasi magni velit?</p>
            </div>
            <div class="product-item">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium vero asperiores culpa inventore libero dolore, consectetur eveniet atque animi similique architecto repellat debitis vitae cumque, voluptatibus molestiae repudiandae pariatur ducimus.</p>
            </div>
        </div>
    </section>
</main>




<%- include("partials/footer.ejs") %>